a{color:red;
font-size: 26px
}
div{ есть 4 ре способа указать цвет color: red-строковые константы 
color: #9CCAD9 ; html-hex
color:RGB ;
color:rgba(255,0,0,0.5); чтобы подчеркнуть прозрачность
}
либо колорпикер, либо колормания-программа
селектор по идентификатору 
 #moya ssylka{
 color:lime;}
 







