.main-container {
  max-width: 960px;
  margin:auto;
}
.site-menu,
.sidebar {
  width: 20%;
}
.main-content {
  width: 60%;
  background-color: LightPink;
  box-sizing: border-box;
}
.site-menu {
  background-color: LightGoldenRodYellow;
}
.sidebar {
  background-color: LightSteelBlue;
}
.site-menu,
.main-content,
.sidebar {
float: left;
}
div {
margin-bottom: 10px;
input[type="text"]
input[type="email"] {
border: 10px solid blue;
}
 







